@import "tailwindcss";
@plugin "@tailwindcss/aspect-ratio";

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        background-color: #131514c4;
        color: #ffffff;
        margin: 0;
        background: url('assets/images/background.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    
    h1 {
        font-family: 'Playfair Display', serif;
    }

    .big-inter-text {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        line-height: 1.5;
    }
    .font-roboto {
        font-family: 'Roboto', sans-serif;
    }
    .font-merriweather {
       font-family: 'Merriweather', serif;
       line-height: 1.25;
    }
}